* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Roboto";
  margin: 0;
  background-color: #04191d;
}
/*********** start navbar ************/
.header-nav {
  width: 100%;
  position: fixed;
  z-index: 60;
  padding: 0 2rem;
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  font-weight: bold;
  transition: 500ms ease-in-out;
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -ms-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
}
.logo {
  padding: 0;
  color: #f8f9fa;
  font-size: 40px;
  margin-left: 20px;
  font-weight: 800;
  font-family: "Brygada 1918", serif;
}
nav ul {
  display: flex;
  text-decoration: none;
  margin: 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-family: "Roboto";
  line-height: 1.7;
  color: #f8f9fa;
  font-size: 1rem;
  padding: 35px;
  text-decoration: none;
  position: relative;
  font-weight: 400;
  font-size: 16px;
}
.header-nav li a:hover {
  color: #d68240;
}

.bttn {
  margin-top: 20px;
  padding: 20px;
  border: none;
  border-radius: 0px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #d68240;
  text-decoration: none;
  color: #eae5dc;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Italiana";
  transition: all 0.3s ease;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.bttn {
  height: 60px;
  line-height: calc(60px - 2px);
}
.action a {
  text-decoration: none;
  color: #f8f9fa;
}
.action:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.navbar-color {
  background-color: #031d21;
}
/*********** end navbar ************/
/*********** start custom scrollbar  ************/
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #04191d;
}
::-webkit-scrollbar-thumb {
  background: #d68240;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/*********** end custom scrollbar  ************/
/*********** start img ************/
.card-img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(12, 48, 54, 0.355);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.card-img {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.sub-txt {
  margin-top: 9.5rem;
  margin-left: 9rem;
  color: #eae5dc;
}
.sub-name {
  font-family: "Italiana";
  color: #e5ebef;
  font-weight: 400;
  font-size: 112px;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.sub-title {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

/*********** end img ************/
/*********** start feature ************/
.contact-txt {
  text-align: center;
  margin-top: 7rem;
}
.contact-hed {
  font-family: "Roboto";
  color: #eae5dc;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  line-height: 1.7;
}
.contact-title {
  font-family: "Italiana";
  color: #eae5dc;
  text-transform: unset;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.contact-prg {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #eae5dc7a;
}

.cof-img {
  color: white;
}
.feat-title1 {
  color: #eae5dc;
  font-size: 28px;
  font-family: "Italiana";
  font-weight: 400;
  line-height: 1.2;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
}
.feat-prg1 {
  color: #eae5dc7a;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Roboto";
  margin-bottom: 3rem;
}

.icon-feature {
  width: 50px;
  height: 50px;
  color: #e2dcd1de;
  margin-top: 4rem;
}
/*********** end feature ************/
/*********** start contact ************/
.form-txt {
  text-align: center;
  margin-top: 7rem;
}
.form-hed {
  font-family: "Roboto";
  color: #eae5dc;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  line-height: 1.7;
}
.form-title {
  font-family: "Italiana";
  color: #eae5dc;
  text-transform: unset;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.form-prg {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #eae5dc7a;
}
.contact {
  margin-bottom: 5rem;
}
/*********** end contact ************/
/*********** start form ************/
.form-control {
  padding: 15px;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: #031d21;
}
.form-control:focus {
  background-color: #031d21;
  border: none;
}

#massage {
  color: #e5ebef;
}

Input[type="text"]::-webkit-input-placeholder {
  color: #eae5dc;
}
Input[type="tel"]::-webkit-input-placeholder {
  color: #eae5dc;
}
Input[type="email"]::-webkit-input-placeholder {
  color: #eae5dc;
}

.contact .btn-contact {
  background-color: #d68240;
  color: #eae5dc;
  padding: 17px;
  border: none;
  margin-top: 1.5rem;
  width: 180px;
  left: 100px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Italiana";
}
/*********** end form ************/
/*********** start footer ************/
.footer {
  background-color: rgb(3, 27, 32);
}
.footercss {
  padding: -10px;
}
.foot-hed {
  font-family: "Italiana";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #eae5dc;
}
.lin {
  font-family: "Roboto";
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  color: #eae5dc;
}
.foot-parg {
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  color: #eae5dc7a;
}

.img-foot {
  width: 100px;
  height: 90px;
  border-radius: 10px;
  border: #031b20 solid 2px;
  transition: 0.5s;
}

.icon-social {
  color: #eae5dc;
  transition: 0.5s;
  text-decoration: none;
}
.icon-social:hover {
  transition: 0.5s;
  color: #d68240;
}

.copyright {
  padding-top: 15px;
}
.imgcont .lin2 i {
  margin-left: 5px;
}
.imgcont {
  padding-left: 60%;
  justify-content: space-evenly;
  display: flex;
}
/*********** end footer ************/
